* {
    margin: 0;
    padding: 0;
}
.tabs-container {
    background-color: rgb(216, 216, 216);
}
.tabs-container .tabs {
    width: 500px;
    height: 50px;
    display: flex;
    list-style: none;
}

.tabs-container .tabs .tab {
    max-width: 100px;
    padding: 0 5px;

    height: 50px;
    background-color: #fff;
    margin: 10px 3px 10px 0;
    align-items: center;
    display: flex;
    
    justify-content: center;

}

.tabs-container .tabs .tab:first-child{
    margin-left: 10px;
}

.tabs-container .tabs .active {
    background-color: rgb(98, 98, 98);
}


.tabs-container  .tab:hover {
    background-color: rgb(98, 98, 98);
    cursor: pointer;
}

.tab-contents .content .gallery-wrapper {
    max-width: 1000px;
    width: 100%;
    max-height: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.tab-contents  .content .gallery-wrapper .block-wrapper {
    background-color: #fff;
    width: calc( ( 100% - 40px ) / 3 );
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-contents  .content .gallery-wrapper .block-wrapper:nth-child(3n-1) {
    margin-left: 20px;
    margin-right: 20px;
}

.tab-contents  .content .gallery-wrapper .block-wrapper  .photo img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.tab-contents  .content .gallery-wrapper .block-wrapper .title,
.tab-contents  .content .gallery-wrapper .block-wrapper .subtext {
    width: 100%;
    text-align: center;;
    margin: 5px auto 5px auto;
}


.content {
    display: none;
}

.tab-contents .active {
    display: block;
}

